.container {
  padding: 0 2rem;
  background-color: #fafafa;
}

.main {
  min-height: 60vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.mintButton {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  margin-top: 20;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.empty_div {
  margin-bottom: -10px;
  padding-bottom: -10px;
  min-height: 100px;
  min-width: 100px;
  
}

.empty_div_big_board {
  margin-bottom: -10px;
  padding-bottom: -10px;
  min-height: 50px;
  min-width: 50px;
  
}

.card_big_board {
  margin: 0px;
  padding: 0px;
  min-height: 50px;
  min-width: 50px;
  text-align: center;
  background-color: #ececec;
  text-decoration: none;
  border: 0.5px solid #acacac;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card {
  margin: 0px;
  padding: 0px;
  min-height: 100px;
  min-width: 100px;
  text-align: center;
  background-color: #ececec;
  text-decoration: none;
  border: 0.5px solid #acacac;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card_small {
  margin: 1px;
  padding: 0px;
  min-height: 40px;
  min-width: 40px;
  text-align: center;
  background-color: #ececec;
  text-decoration: none;
  border: 0.5px solid #acacac;
  /*transition: color 0.15s ease, border-color 0.15s ease;*/
  max-width: 40px;
  max-height: 40px;
}

.card_red {
  margin: 0rem;
  padding: 1.5rem;
  min-height: 100px;
  min-width: 100px;
  text-align: center;
  background-color: #660404;
  text-decoration: none;
  border: 0px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card_green {
  margin: 0rem;
  padding: 1.5rem;
  min-height: 100px;
  min-width: 100px;
  text-align: center;
  background-color: #045a41;
  text-decoration: none;
  border: 0px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card_blue {
  margin: 0rem;
  padding: 1.5rem;
  min-height: 100px;
  min-width: 100px;
  text-align: center;
  background-color: #472197;
  text-decoration: none;
  border: 0px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card_orange {
  margin: 0rem;
  padding: 1.5rem;
  min-height: 100px;
  min-width: 100px;
  text-align: center;
  background-color: #c5670f;
  text-decoration: none;
  border: 0px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100;
    width: 100px;
    border: 1px solid #ccc;
    margin: 10px;
}

.game_tile_image {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
}

.game_tile_image_big_board {
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
}

.tile {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  border: 1px solid #ccc;
  margin: 10px;
}

.tile_image {
  background-size: cover;
  background-position: center;
  height: 70%;
}

.small_tile {
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 40px;
  border: 1px solid #ccc;
  margin: 0px;
}

.small_tile_image {
  background-size: cover;
  background-position: center;
  height: 40px;
}

.tile_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 30%;
}

.tile_info h3 {
  margin: 0;
}

.tile_info button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
